snippet test
	package ${1}

	import (
		"reflect"
		"testing"
	)

	func Test${2}(t *testing.T) {
		tests := []struct {
		
		}{
		
		}

		for i, tt := range tests {
		
		}
	}

snippet main
	package main

	import (
		"fmt"
	)

	func main() {
		fmt.Println("hello")
	}
