[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
	ignore = dirty
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "apps/JSLint"]
	path = apps/JSLint
	url = git://github.com/douglascrockford/JSLint.git
	ignore = dirty
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
	ignore = dirty
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "vim/bundle/jslint.vim"]
	path = vim/bundle/jslint.vim
	url = git://github.com/hallettj/jslint.vim.git
	ignore = dirty
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "vim/vim-markdown"]
	path = vim/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-golang"]
	path = vim/bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/vim-javascript-syntax"]
	path = vim/vim-javascript-syntax
	url = git://github.com/jelera/vim-javascript-syntax.git
