# JSDoc comments
snippet /*
	/*
	 * ${1:description}
	 * @param {${2:parm}} ${3} ${4}
	 */

snippet req
	goog.require('${1}');

snippet it
	it('', function () {
	  ${1}
	});

snippet spec
	describe('${1}', function () {
	
	  var ${2:globals};
	
	  beforeEach(function () {
	
	  });
	
	  afterEach(function () {
	
	  });
	
	  it('${3}', function () {
	
	    expect(false).toBe(true);
	
	  });
	
	});
