# JSDoc comments
snippet /*
	/*
	 * ${1:description}
	 * @param {${2:parm}} ${3} ${4}
	 */

snippet req
	goog.require('${1}');

snippet desc
	describe('${1}', function () {
	  it('${2}', function () {
	    ${3}
	  });
	});

snippet it
	it('${1}', function () {
	  ${2}
	});

snippet spec
	describe('${1}', function () {
	
	  var ${2:globals};
	
	  beforeEach(function () {
	
	  });
	
	  afterEach(function () {
	
	  });
	
	  it('${3}', function () {
	
	    expect(false).toBe(true);
	
	  });
	
	});
